# Use LF on checkout across all platforms (Linux, MacOSX, Windows)
#   as most text files work well with LF on Windows.
#   Exceptions can be added below.
*      text eol=lf

# Files that should have their EOL on checkout changed to CRLF.
*.bas  eof=crlf

# Files that should retain their EOL on checkout but may be diff'ed.
*.fods binary

# Files that are truly binary - no EOL change on checkout and no diff.
*.frx  binary
*.png  binary
